@font-face {
    font-family: 'DunkinSans';
    src: url('../fonts/Dunkin Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DunkinBold';
    src: url('../fonts/Dunkin Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:transparent;
}
body {
  background: #fff;
  line-height: inherit;
  font-family: 'DunkinSans', 'Pretendard', sans-serif;
  -webkit-font-smoothing:antialiased;
}

.pretendard{
  font-family: 'Pretendard', 'DunkinSans', sans-serif;
}
.dunkinbold{
  font-family: 'DunkinBold', 'DunkinSans', sans-serif;
}
.dunkinsans{
  font-family: 'DunkinSans','DunkinBold', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
button,input,a,textarea,select,optgroup{
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  color: inherit;
  background: transparent;
}
button, [role=button]{
  cursor: pointer;
}
img,video{
  height: auto;
  max-width: 100%;
}
img,svg,video,iframe{
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* root */
:root{
  --tw-shadow:0 0 20px 0 rgba(29,7,0,.3);
  --tw-shadow-colored:0 0 20px 0;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-tranlate-x:calc(clamp(70px,7.5vw,120px) - clamp(12px,1.46vw,28px) - (clamp(2px,.3vw,4px)*2))
}
/* utility */
.transition{
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.transition-colors{
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.transition-height{
  transition-property: height;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.hidden{
  display: none;
}
.overflow-hidden{
  overflow: hidden;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.font-bold{
  font-weight: 700;
}
.font12{
  font-size: 12px;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-destructive{
  color: #c43663;
}
/* layout */
.main{
  min-height: 100vh;
}

/* header */
.header {
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 0 10px;
   color: #3d332e;
  height: clamp(60px,6.284vw,92px);
   background-position: bottom;
  background-image: url(images/header_bg-63efc11c.png);
  z-index: 60;
  top: 0;
  position: sticky;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1464px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.nav{
  width: 100%;
  z-index: 10;
  position: relative;
}
.head-fixed{
  border: 0;
left: 0;
  top: clamp(60px,6.284vw,92px);
  justify-content: center;
  display: flex;
  width: 100%;
  height: 0;
  background-color: #ffffff85;
  z-index: 5;
  position: fixed;
  overflow: hidden; /* transition 되려면 필요 */
  transition: height 0.3s ease; /* 부드럽게 내려오게 추가 */
}
.main-menu{
  display: flex;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0%;
  width: 100%;
  flex-direction: row;
}
.main-menu-left,
.main-menu-right{
  flex: 1 1 33.3%;
}
.main-menu-center{
  flex: 1 1 26%;
  width:auto;
}
.center-logo{
  height: auto;
}
.center-logo-a{
  z-index: 30;
  position: relative;
}
.center-logo-img{
  height: clamp(60px,6.55vw,96px);
  position: relative;
  margin-top: 1%;
}
.main-menu-inner{
  display: flex;
  justify-content: space-between;
}
.block{
  display: block;
}
.head-btn{
  font-weight: 700;
  font-size: clamp(16px,1.36vw,20px);
  background-color: transparent;
  border-radius: calc(0.5rem - 2px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 2.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.head-btn:hover{
  color: #c43663;
}
.has-sub { position: relative; }

.submenu-wrap {
 position: absolute;
    top: clamp(60px, 6.284vw, 92px); 
    left: 50%;
    transform: translateX(-50%); /* 부모 메뉴 중앙에 딱 맞춤 */
    display: flex;
    flex-direction: row; /* 가로로 나열 */
    gap: 20px;
    padding: 14px 0;
    z-index: 70;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.submenu-wrap a {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #3d332e;
}
.submenu-wrap a:hover {
      color: #c43663;
}

.nav:has(.has-sub:hover) .head-fixed {
    height: 82px;
}
.has-sub:hover .submenu-wrap {
    opacity: 1;
    visibility: visible;
}

.toggle-li{
  display: flex;
  align-items: center;
}
.toggle-a{
  width: clamp(70px,7.5vw,120px);
  height: auto;
  aspect-ratio: 120 / 36;
}
.peer{
    background-color: #c43663;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: clamp(2px,.3vw,4px);
  border-radius: 9999px;
  flex-shrink: 0;
  animation-duration: 0.3s;
  transition-duration: 0.3s;

}
.toggle-circle {
    pointer-events: none;
    aspect-ratio: 1 /1;
    border-radius: 9999px;
    width: clamp(12px,1.46vw,28px);
    height: auto;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    z-index: 2;
    animation-name: header-toggle;
    animation: 0.13s ease 0s 1 normal none running;
}
@keyframes header-toogle{
  0%{left: -0.5px;}
  60%{left: 1px;}
  100%{
    left: 0;
  }
}

.switch-text {
  position: absolute;
  font-weight: 900;
  letter-spacing: -.025em;
  color: #fff;
}
.text-kr {  font-size: clamp(11px,1.1vw,18.5px); left: calc(clamp(5px,1.46vw,28px) + 10px); z-index: 1;} 
.text-en { font-size: clamp(12px,1.1vw,21px); left: calc(clamp(7px,.63vw,10px) - clamp(0px,.05vw,4px)); z-index: -1;}
.peer.active {
    background-color: #ff6900; /* 오렌지색으로 변경 */
}
.peer.active .toggle-circle {
   transform: translate(var(--tw-tranlate-x));
}
.peer.active .text-kr { z-index: -1; }
.peer.active .text-en { z-index: 1; }

/* section */
.sec1{
   position: relative;
  overflow: hidden;
  background-color: #f4f0ed;
  padding-top: clamp(11px,3.32vw,52px);
  padding-bottom: clamp(15px,4.3vw,63px);
}
.sec2{
  color: #3d332e;
  background-color: #f4f0ed;
  padding-top: clamp(50px,6.14vw,90px);
  padding-bottom: clamp(60px,6.83vw,100px);
}
.sec3{
  color: #3d332e;
  padding-top: clamp(50px,6.14vw,90px);
  padding-bottom: clamp(60px,6.83vw,100px);
}
.sec4{
   color: #3d332e;
   padding-top: clamp(50px,6.14vw,90px);
   padding-bottom: 60px;
   background-color: #f8f4f1;
}
.section-title{
  text-align: center;
}
.section-title-txt{
  font-family: 'DunkinBold', 'DunkinSans', sans-serif;
  color: #f06a00;
  line-height: 1;
}
.section-subtitle-txt{
  margin-top: 12px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: clamp(14px,5vw,20px);
}


/* section 01 */
.sec1-main-slider{
  max-width: 1566px;
}
.sec1-main-slider-img{
  touch-action: none;
  pointer-events: none;
  z-index: 1;
}
/* section 02 */
/* section 03 */
/* section 04 */
.sec4-content{
  box-sizing:content-box;
  max-width: 1092px;
}
.sec4-wrap{
  padding-top: 40px;
  padding-bottom: 40px;
}
.sec4-content-wrap{
  margin-left: -24px;
}
.sec4-content-box{flex: none;
flex-basis: 73.3%;
padding-left: 24px;}
.sec4-content-box:first-child{
  margin-left: 13.35%;
}
.sec4-content-box-a{
  box-shadow: 3px 3px 10px 0 rgba(29,7,0,.16);
  background: #fff;
  border-radius: 32px;
}
.sec4-content-box-img-wrap{
  border-radius: 24px;
  margin: 8px;
}
.sec4-content-box-img{
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.5s;
  animation-duration: 0.5s;
}
.sec4-content-box-img:hover{
  transform: scale(1.09);
}
.sec-content-box-text{
  padding-top: 22px;
  padding-bottom: 22px;
}
.sec4-content-title{
    font-family: 'DunkinBold', 'DunkinSans', sans-serif;
  line-height: 0.75;
  font-size: 36px;
}
.sec4-content-subtitle{
  margin-bottom: 0;
  margin-top: 10px;
  font-size: clamp(18px,1.36vw,20px);
}
/* section - media */
@media (min-width:360px) {
  .section-title-txt{
    font-size: clamp(40px,3.41vw,50px);
  }
  .section-subtitle-txt{
    font-size: 20px;
  }
}

@media (min-width:768px) {
  .sec1{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 33px;
    padding-bottom: 33px;
  }  
  .sec4-content{
  padding-left: 14px;
  padding-right: 14px;
  }
  .sec4-content-wrap{
    margin-left: -14px;
  }
  .sec4-content-box{
    flex-basis: 33.33333%;
    padding-left: 14px;
  }
  .sec4-content-box:first-child{
    margin-left: 0;
  }
}
@media (min-width:976px){
  .sec4-content-wrap{
    margin-left: -24px;
  }
  .sec4-content-box{
    padding-left: 24px;
  }
}
/* footer */

.footer {
  color: #3d332e;
}

.footer-inner {
  width: 87.6%;
  max-width: 1464px;
  padding-top: clamp(32px,2.73vw,40px);
  padding-bottom: clamp(32px,2.73vw,40px);
}

.footer-inner-row1{
  justify-content: space-between;
}
.footer-row1-left-top{
  align-items: center;
  height: 40px;
}
.footer-row1-left-top-img{
  max-width: 33vw;
  width: 124px;
}
.footer-row1-left-bottom{
  flex-wrap: wrap;
  font-size: 12px;
  gap: 6px;
}
.footer-detail{
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .footer-row1-right{
    width: 46.5%;
  }
.footer-title{
  color: #3d332e80;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 9px;
}
.footer-detail-text{
  line-height: 1.83;
}
.footer-inner-row2{
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 16px;
}
.footer-inner-row2-left{
  line-height: 1.28;
  font-size: 14px;
}
.footer-inner-row2-left .no-active{
  padding-left: 12px;
  margin-left: 12px;
  border-left:1px solid #3d332e33;
}
.footer-inner-row2-left .login.active{
  color: #f06a00;
  font-weight: 700;
}
.footer-inner-row2-right{
  opacity: 0.5;
  gap: 16px;
}
.footer-inner-row3{
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 12px;
  padding-top: 12px;
  justify-content: space-between;
  border-color: #3d332e33;
}
.footer-inner-row3-left{
  position: absolute;
  right: 0;
  top: 32px;
  width: 185px;
  max-width: 50vw;
  flex: none;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
    line-height: 2.85;
}
.familysite{
  position: absolute;
  bottom: 0;
  left:0;
  height:0;
  width:100%;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  padding-bottom: 40px;
  animation-timing-function: cubic-bezier(.4,0,.2,1);
  animation-duration: 0.3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.3s;

}
.button-outline{
  color: #3d332e;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid #3d332e33;
}
.rule{
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 16px;
  font-size: 14px;
}
.floating{
  position: fixed;
  width: clamp(55px,4.98vw,73px);
  z-index: 10;
  right: clamp(16px,2.73vw,40px);
  bottom: clamp(16px,2.73vw,40px);
}
.floating-top{
  box-shadow: 0 0 12px 0 rgba(29,7,0,.2);
  color: #fff;
  background-color: #f06a00;
  border-radius: clamp(9px,.81vw,12px);
}
.floating-top-btn{
  padding-top: clamp(10px,.95vw,14px);
  padding-bottom: clamp(10px,.95vw,14px);
}
.floating-top-img{
  width: 49.4%;
}
.floating-txt{
  line-height: 1;
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: clamp(10px,.88vw,13px);
}

floating-top-btn::after{
  content: "";
  position: absolute;
  border-radius: 9999px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 27.3%;
}

.floating-bottom-btn{
  box-shadow: 0 0 12px 0 rgba(29,7,0,.2);
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: clamp(9px,.81vw,12px);
  background-color: #fff;
  margin-top: 12px;
  margin-bottom: 0;
}
.go-to-top-img{
  width: 28.7%;
  height: 100%;
}
@media (min-width:768px) {
  .footer-inner{
    width: 95%;
  }
  .footer-inner-row2{
    margin-top: 0;
  }
  .footer-inner-row3{
    margin-top: 20px;
    padding-top: 20px;
    align-items: center;
    border-top-width: 1px;
  }
  .footer-row1-left-top-img{
    width: auto;
  }
  .footer-row1-left-bottom{
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .footer-inner-row2-right{
    justify-content: flex-end;
  }
  .footer-detail2{
    padding-right: 16px;
  }
  .rule{
    column-gap: 12px;
  }
}
@media (min-width:976px){
  .footer-inner-row3{
    flex-wrap: nowrap;
  }
  .footer-row1-left{
    max-width: 366px;
  }
  .footer-row1-right{
    display: block !important;
  }
  .footer-row1-left-top{
    height: auto;
  }
  .footer-inner-row3-left{
    position: static;
  }
  .footer-inner-row3-right{
    order: 9999;
  }
  .rule{
    justify-content: flex-end;
  }
}