@font-face {
    font-family: 'DunkinSans';
    src: url('fonts/Dunkin\ Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'DunkinBold';
    src: url('fonts/Dunkin\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Dunkin';
    src: url('fonts/Dunkin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:transparent;
   text-rendering: optimizeLegibility;
}
body {
  word-break: keep-all;
  word-spacing: -4px;
  background: #fff;
  line-height: inherit;
  font-family: 'Dunkin','DunkinSans', 'Pretendard', sans-serif;
  -webkit-font-smoothing:antialiased;
}
.dunkin{
   font-family: 'Dunkin', 'DunkinSans','DunkinBold', sans-serif;
}
.pretendard{
  word-spacing: normal !important;
  font-family: 'Pretendard', 'DunkinSans', sans-serif;
}
.dunkinbold{
  font-family: 'DunkinBold', 'DunkinSans', sans-serif;
}
.dunkinsans{
  font-family: 'DunkinSans','DunkinBold', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
button,input,a,textarea,select,optgroup{
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  color: inherit;
  background: transparent;
}
button, [role=button]{
  cursor: pointer;
}
img,video{
  height: auto;
  max-width: 100%;
}
img,svg,video,iframe{
  display: block;
}
a{
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
/* root */
:root{
  --tw-shadow:0 0 20px 0 rgba(29,7,0,.3);
  --tw-shadow-colored:0 0 20px 0;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow:0 0 #0000;
  --tw-tranlate-x:calc(clamp(70px,7.5vw,120px) - clamp(12px,1.46vw,28px) - (clamp(2px,.3vw,4px)*2))
  --cream:#f8f4f1;
  --tw-gradient-stops: hsl(25.714 33% 96%) , hsl(25.714 33% 96% 0)
}

/* mobile  */
.mob{
  display: none !important;
}
.mob-flex{
  display: none !important;
}
.mob-footer-flex{
  display: none !important;
}
.mob-br{
  display: none !important;
}
/* animation  */
@keyframes header-toogle{
  0%{left: -0.5px;}
  60%{left: 1px;}
  100%{
    left: 0;
  }
}
@keyframes accordion-up{
  0%{height: 92px;}
  100%{height: 0;}
}
@keyframes accordion-down{
  0%{height: 0;}
  100%{height: 92px;}
}
/* utility */
.transition{
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.transition-all{
  transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.transition-colors{
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.transition-height{
  transition-property: height;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.transition-transform{
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.15s;
}
.hidden{
  display: none;
}
.overflow-hidden{
  overflow: hidden;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.my-auto{
  margin-top: auto;
  margin-bottom: auto;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.w-full{
  width: 100%;
}
.h-full{
  height: 100%;
}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.font-bold{
  font-weight: 700;
}
.font12{
  font-size: 12px;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-destructive{
  color: #c43663;
}
.text-espresso{
  color: #3d332e;
}
/* layout */
.main{
  min-height: 100vh;
}

/* header */
.header {
  box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 0 10px;
   color: #3d332e;
  height: clamp(60px,6.284vw,92px);
   background-position: bottom;
  background-image: url(images/header_bg-63efc11c.png);
  z-index: 60;
  top: 0;
  position: sticky;
}
.header-inner{
  justify-content: space-between;
  align-items: center;
  max-width: 1464px;
}
.nav{
  width: 100%;
  z-index: 10;
  position: relative;
}
.head-fixed{
  border: 0;
left: 0;
  top: clamp(60px,6.284vw,92px);
  justify-content: center;
  display: flex;
  width: 100%;
  height: 0;
  background-color: #ffffffcb;
  backdrop-filter: blur(1px);
  z-index: 5;
  position: fixed;
  overflow: hidden; 
  transition: height 0.3s ease; 
}
.main-menu{
  display: flex;
  gap: 0px;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 0%;
  width: 100%;
  flex-direction: row;
}
.main-menu-left,
.main-menu-right{
  flex: 1 1 33.3%;
}
.main-menu-center{
  flex: 1 1 26%;
  width:auto;
}
.center-logo{
  height: auto;
}
.center-logo-a{
  z-index: 30;
  position: relative;
}
.center-logo-img{
  height: clamp(60px,6.55vw,96px);
  position: relative;
  margin-top: 1%;
}
.main-menu-inner{
  display: flex;
  justify-content: space-between;
}
.block{
  display: block;
}
.head-btn{
   font-family: 'DunkinBold', 'DunkinSans', sans-serif;
  font-size: clamp(16px,1.36vw,20px);
  background-color: transparent;
  border-radius: calc(0.5rem - 2px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 2.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.head-btn:hover{
  color: #c43663;
}
.has-sub { position: relative; }

.submenu-wrap {
 position: absolute;
    top: clamp(60px, 6.284vw, 92px); 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    flex-direction: row; 
    gap: 20px;
    padding: 14px 0;
    z-index: 70;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    white-space: nowrap;
}

.submenu-wrap a {
    font-family: 'Pretendard', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #3d332e;
}
.submenu-wrap a:hover {
      color: #c43663;
}

.nav:has(.has-sub:hover) .head-fixed {
    height: 82px;
}
.has-sub:hover .submenu-wrap {
    opacity: 1;
    visibility: visible;
}

.toggle-li{
  display: flex;
  align-items: center;
}
.toggle-a{
  width: clamp(70px,7.5vw,120px);
  height: auto;
  aspect-ratio: 120 / 36;
}
.peer{
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,.15) inset,0px -2px 4px 0px rgba(158,143,126,.6),0px 2px 4px 0px #FFF;
    background-color: #c43663;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: clamp(2px,.3vw,4px);
  border-radius: 9999px;
  flex-shrink: 0;
  animation-duration: 0.3s;
  transition-duration: 0.3s;

}
.toggle-circle {
    pointer-events: none;
    aspect-ratio: 1 /1;
    border-radius: 9999px;
    width: clamp(12px,1.46vw,28px);
    height: auto;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    transition-duration: 0.3s;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow, 0 0 #0000);
    z-index: 2;
}

.toggle-circle:hover{
  animation-name: header-toggle;
  animation-duration: 0.13s;
  animation-timing-function: ease;
}

.switch-text {
  position: absolute;
  font-weight: 900;
  letter-spacing: -.025em;
  color: #fff;
}
.text-kr {  font-size: clamp(11px,1.1vw,18.5px); left: calc(clamp(5px,1.46vw,28px) + 10px); z-index: 1;} 
.text-en { font-size: clamp(12px,1.1vw,21px); left: calc(clamp(7px,.63vw,10px) - clamp(0px,.05vw,4px)); z-index: -1;}
.peer.active {
    background-color: #f06a00;
}
.peer.active .toggle-circle {
   transform: translateX(calc(clamp(70px,7.5vw,120px) - clamp(12px,1.46vw,28px) - (clamp(2px,.3vw,4px)*2)));
}
.peer.active .text-kr { z-index: -1; }
.peer.active .text-en { z-index: 1; }

/* section */
.section-title{
  text-align: center;
}
.section-title-txt{
  word-spacing: -8px;
  font-family: 'DunkinBold', 'DunkinSans', sans-serif;
  color: #f06a00;
  line-height: 1;
}
.section-subtitle-txt{
  margin-top: 12px;
  margin-bottom: 0px;
  line-height: 1.2;
  font-size: clamp(14px,5vw,20px);
}

/* section 01 */
.sec1{
  background-color: #f4f0ed;
  padding-bottom: 60px;
}

.main-swiper-frame{
  touch-action: none;
  pointer-events: none;
  z-index: 5;
}

.main-swiper-wrap{
  flex: none;
}
.main-swiper-img{
  object-fit: cover;
}
.main-swiper-pagination{
  bottom: 42px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.main-swiper-pagination .swiper-pagination-bullet{
transition-property: all !important;
transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
transition-duration: 0.15s !important;
width: 7px !important;
height: 7px !important;
opacity: 0.4 !important;
border-radius: 9999px !important;
background: #fff !important;
}
.main-swiper-pagination .swiper-pagination-bullet-active{
  opacity: 1 !important;
  width: 20px !important;
}
.sec1-swiper-action{
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 10;
}
.sec1-swiper-action-position{
  max-width: 1466px;
  justify-content: center;
}
.sec1-swiper-action-wrap{
  pointer-events: auto;
  flex-direction: column;
  width: 87.6%;
  justify-content: center;
  gap:12px;
}
.sec1-swiper-action-top{
  margin: 0;
  aspect-ratio: 372/394;
  flex-direction: column;
  justify-content: center;
  border-radius: 32px;
}
.swiper-action-top-wrap{
  width: 100% !important;
  height: 100% !important;
  margin-left: -1px;
  flex: none;
  background-color: rgb(248, 226, 78);
}
.swiper-action-top-img{
  aspect-ratio: 1 / 1;
  width: 78%;
}
.swiper-action-top-txt{
  color: #fff;
  text-align: center;
}
.swiper-action-top-txt-eng{
  letter-spacing: 0;
  line-height: 1;
   font-family: 'DunkinBold', 'DunkinSans', sans-serif;
  opacity: 0.5;
}
.swiper-action-top-txt-kor{
  font-weight: 800;
  font-size: clamp(10px,6.66vw,24px);
}
.swiper-action-top-pagination{
  left: 50% !important;
  transform: translateX(-50%) !important;
  bottom: 2% !important;
}
.swiper-action-top-pagination .swiper-pagination-bullet{
transition-property: all !important;
transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
transition-duration: 0.15s !important;
width: 8px !important;
height: 8px !important;
opacity: 0.4 !important;
border-radius: 9999px !important;
background: rgb(65, 28, 1) !important;
}
.swiper-action-top-pagination .swiper-pagination-bullet-active{
  opacity: 1 !important;
  width: 20px !important;
}
.swiper-btm{
  aspect-ratio: 372 / 175;
  border-radius: 32px;
}
.swiper-btm-wrap{
  margin-left: -1px;
  flex: none;
  justify-content: space-between;
  padding-top:6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 12px;
  background-color: rgba(255, 155, 195);
}
.swiper-btm-txt-wrap{
  top: 18%;
  color: #fff;
}
.swiper-btm-txt{
  white-space: nowrap;
  font-size: clamp(10px,6.66vw,24px);
  font-weight: 800;
  line-height: 1.2;
}
.swiper-btm-img{
  width: 49%;
  aspect-ratio: 1 / 1;
}
.swiper-btm-pagination{
  width: auto !important;
  bottom: 10% !important;
  left: 24px !important;
}
.swiper-btm-pagination .swiper-pagination-bullet{
transition-property: all !important;
transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
transition-duration: 0.15s !important;
width: 8px !important;
height: 8px !important;
opacity: 0.4 !important;
border-radius: 9999px !important;
background: #fff !important;
}
.swiper-btm-pagination .swiper-pagination-bullet-active{
  opacity: 1 !important;
  width: 20px !important;
}
.swiper-btm-pagination .swiper-pagination-bullet-active:last-child{
  background: rgb(66, 0, 14) !important;
}
.main-banner{
  margin-top: 12px;
  margin-bottom: 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 9999px;
  background-color: #c43663;
  font-size: min(6.66vw,24px);
  line-height: 2.2;
}
/* section 02 */
.sec2{
  color: #3d332e;
  background-color: #f8f4f1;
  padding-top: clamp(50px,6.14vw,90px);
  padding-bottom: clamp(60px,6.83vw,100px);
}
.sec2-content{
  cursor: pointer;
  max-width: 1464px;
}
.bg-gradient{
  cursor:pointer;
  width: 14%;
  top: 0;
  z-index: 1;
}
.bg-gradient-to-r {
  left: 0;
  background-image: linear-gradient(to right, #f8f4f1 0%, rgba(248, 244, 241, 0) 100%);
}
.bg-gradient-to-l {
  right: 0;
  background-image: linear-gradient(to left, #f8f4f1 0%, rgba(248, 244, 241, 0) 100%);
}
.sec2-swiper{
  padding-top: 40px;
  padding-bottom: 40px;
}
.sec2-swiper-slide{
  flex: none;
}
.sec2-swiper-slide-img{
  object-fit: cover;
  opacity: 0.4;
  transition-duration: 0.7s;
  animation-duration: 0.7s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.swiper-slide-active .sec2-swiper-slide-img {
  transform: scale(1.1); 
   opacity: 1;
  filter: drop-shadow(2px 2px 8px rgba(0,0,0,.3));
}
.sec2-swiper-pagination{
  text-align: center;
  position: relative !important;
  bottom: auto !important;
}
.sec2-swiper-pagination .swiper-pagination-bullet{
transition-property: all !important;
transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
transition-duration: 0.15s !important;
width: 8px !important;
height: 8px !important;
opacity: 0.4 !important;
border-radius: 9999px !important;
background: #3d332e !important;
}
.sec2-swiper-pagination .swiper-pagination-bullet-active{
  opacity: 1 !important;
  width: 20px !important;
  background: #c43663 !important;
}
/* section 03 */
.sec3{
  color: #3d332e;
  padding-top: clamp(50px,6.14vw,90px);
  padding-bottom: clamp(60px,6.83vw,100px);
}
.sec3-content{
  max-width: 1216px;
  box-sizing: content-box;
}
.sec3-swiper-wrapper{
  width: auto !important;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: -24px;
}
.sec3-swiper-slide{
  flex:none;
      padding-left: 24px;
}

.sec3-swiper-pagination{
  position: relative !important;
  text-align: center;
  bottom: 0 !important;
}
.sec3-swiper-pagination .swiper-pagination-bullet{
transition-property: all !important;
transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
transition-duration: 0.15s !important;
width: 8px !important;
height: 8px !important;
opacity: 0.4 !important;
border-radius: 9999px !important;
background: #3d332e !important;
}
.sec3-swiper-pagination .swiper-pagination-bullet-active{
  opacity: 1 !important;
  width: 20px !important;
  background: #c43663 !important;
}


.sec3-swiper-slide-wrap{
  border-radius: 20px;
   background-color: #f8f4f1;
  box-shadow: 3px 3px 10px 0 rgba(29,7,0,.16);
}
.sec3-swiper-slide-img-wrap{
  aspect-ratio: 1 / 1;
  border-radius: 20px;
}
.sec3-swiper-slide-img{
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.5s;
  animation-duration: 0.5s;
}
.sec3-swiper-slide-img:hover{
  transform: scale(1.08);
}
.sec3-swiper-slide-txt{
  line-height: 2.85;
  font-size: 21px;
 font-weight: 800;
  text-align: center;
}
/* section 04 */
.sec4{
   color: #3d332e;
   padding-top: clamp(50px,6.14vw,90px);
   padding-bottom: 60px;
   background-color: #f8f4f1;
}
.sec4-content{
  box-sizing:content-box;
  max-width: 1092px;
}
.sec4-swiper{
  padding-top: 40px;
  padding-bottom: 40px;
}

.sec4-content-box{flex: none;}

.sec4-content-box-a{
  box-shadow: 3px 3px 10px 0 rgba(29,7,0,.16);
  background: #fff;
  border-radius: 32px;
}
.sec4-content-box-img-wrap{
  border-radius: 24px;
  margin: 8px;
}
.sec4-content-box-img{
  transition-property: transform;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.5s;
  animation-duration: 0.5s;
}
.sec4-content-box-img:hover{
  transform: scale(1.09);
}
.sec-content-box-text{
  padding-top: 22px;
  padding-bottom: 22px;
}
.sec4-content-title{
    font-family: 'DunkinBold', 'DunkinSans', sans-serif;
  line-height: 0.75;
  font-size: 36px;
}
.sec4-content-subtitle{
  margin-bottom: 0;
  margin-top: 10px;
  font-size: clamp(18px,1.36vw,20px);
}
/* section - media */
@media (min-width:360px) {
  .mob-header{
    justify-content: center;
  }
  .section-title-txt{
    font-size: clamp(40px,3.41vw,50px);
  }
  .section-subtitle-txt{
    font-size: 20px;
  }
  .swiper-action-top-txt-eng{
    font-size: 22px;
  }
  .swiper-action-top-txt-kor{
    font-size: 24px;
  }
  .swiper-action-top-pagination{
    bottom: 4% !important;
  }
  .swiper-btm-txt{
    font-size: 24px;
  }
    .main-banner{
    font-size:24px;
  }
}
@media (max-width:767px){
  .mob-br{
    display: block !important;
  }
  .sec1-main-swiper{
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .main-swiper-frame{
    position: relative;
    content: url(images/top-frame-mo-d3449bee.png);
  }
  .main-swiper{
    position: absolute;
    left: 50%;
    top: 50%;
    aspect-ratio: 342 / 500;
    width:86.5%;
    transform: translate(-50%,-50%);
    border-radius: 10vw;
    object-fit: cover;
  }
  .main-swiper .swiper-wrapper{
    height: 100%;
  }
  .main-swiper-wrap{
    object-fit: cover;
  }
  .main-swiper-wrap:nth-child(1) .main-swiper-img{
    content: url(images/7r1TTteMVnP9X43F0SE6HHpFowfCyHsLg7sCBLr1.jpg);
  }
  .main-swiper-wrap:nth-child(2) .main-swiper-img{
    content: url(images/zIiDz1y2o54wnBNvHJPXxL5aUT0OGjKW902eN4qc.jpg);
  }
  .main-swiper-pagination{
    bottom: 8% !important;
  }
  .sec2-swiper-slide{
    flex-basis: 69.4%;
  }
  .sec2-swiper-slide-img{
    border-radius: 27px;
    aspect-ratio: 272/408;
    transform: scale(0.9);
  }
  .swiper-slide-active .sec2-swiper-slide-img {
    transform: scale(1);
  }
  .sec2-swiper-slide:nth-child(1) .sec2-swiper-slide-img{
    content:url(images/mob-slide1.jpg);
  }
  .sec2-swiper-slide:nth-child(2) .sec2-swiper-slide-img{
    content:url(images/mob-slide2.jpg);
  }
  .sec2-swiper-slide:nth-child(3) .sec2-swiper-slide-img{
    content:url(images/mob-slide3.png);
  }
  .sec2-swiper-slide:nth-child(4) .sec2-swiper-slide-img{
    content:url(images/mob-slide4.jpg);
  }
  .sec2-swiper-slide:nth-child(5) .sec2-swiper-slide-img{
    content:url(images/mob-slide5.jpg);
  }
  .sec3-swiper-slide{
    flex-basis: 60%;
  }
  .sec3-swiper-slide:first-child{
  margin-left: 20%;
}
  .sec3-swiper-slide:last-child{
  margin-right: 20%;
}
.sec4-content-wrap{
  margin-left: -24px;
}
.sec4-content-box{
  flex-basis: 73.3%;
padding-left: 24px;
}
.sec4-content-box:first-child{
  margin-left: 13.35%;
}
.sec4-content-box:last-child{
  margin-right: 13.35%;
}
.sec4-swiper-pagination{
  position: relative !important;
  text-align: center;
  bottom: 0 !important;
}
.sec4-swiper-pagination .swiper-pagination-bullet{
transition-property: all !important;
transition-timing-function: cubic-bezier(.4,0,.2,1) !important;
transition-duration: 0.15s !important;
width: 8px !important;
height: 8px !important;
opacity: 0.4 !important;
border-radius: 9999px !important;
background: #3d332e !important;
}
.sec4-swiper-pagination .swiper-pagination-bullet-active{
  opacity: 1 !important;
  width: 20px !important;
  background: #c43663 !important;
}
}

@media (min-width:768px) {
  .sec4-swiper-pagination{
    display: none !important;
  }
  .main-swiper-frame{
    height: 100%;
    position: absolute;
  }
  .main-swiper{
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 18px #A88D76;
  border-radius: clamp(20px,6.48vw,95px);
}
.main-swiper-wrap{
  aspect-ratio: 1566/749;
}
.main-swiper-img{
  aspect-ratio: 1566/749;
}
.sec2-swiper-slide-img{
  border-radius: 30px;
  aspect-ratio: 1016 / 448;
    transform: scale(1);
}
.swiper-slide-active .sec2-swiper-slide-img{
  transform: scale(1.1);
}
.sec2-swiper-slide{
  flex-basis: 63%;
    margin-left: clamp(30px,4.64vw,68px);
}
  .sec1{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 33px;
    padding-bottom: 33px;
  } 
    .sec1-main-swiper{
  max-width: 1566px;
}
  .sec1-swiper-action{
    position: absolute;
    padding-left: clamp(15px,7.32vw,75px);
    padding-right: clamp(15px,7.32vw,75px);
    padding-top: 33px;
    padding-bottom: 33px;
  } 
  .sec1-swiper-action-position{
    padding-top: clamp(20px,2.73vw,40px);
    padding-bottom: clamp(20px,2.73vw,40px);
    justify-content: flex-end;
  }
  .sec1-swiper-action-wrap{
    width: 39.5%;
  }
  .sec1-swiper-action-top{
    justify-content: flex-start;
    border-radius: clamp(10px,2.32vw,34px);
    border-top-right-radius: clamp(10px,3.82vw,56px);
  }
  .swiper-action-top-img{
    width: 74%;
  }
  .swiper-action-top-txt-eng{
    font-size: clamp(10px,2.2vw,22px);
  }
  .swiper-action-top-txt-kor{
    font-size: clamp(10px,2.53vw,26px);
  }
  .swiper-btm{
    border-radius: clamp(10px,2.32vw,34px);
  }
  .main-banner{
    font-size: clamp(10px,2.34vw,24px);
  }
  .swiper-btm-wrap{
    padding-left: clamp(10px,1.91vw,28px);
  }
  .swiper-btm-txt{
    font-size: clamp(10px,2.34vw,24px);
  }
  .swiper-btm-pagination{
  bottom: 10% !important;
  left: clamp(10px,1.91vw,28px) !important;
}
.sec2-content{
  margin-top: 20px;
}
.sec2-swiper-pagination{
  display: flex !important;
  justify-content: center !important;
  margin-top: 13px !important;
}
.sec3-content{
  padding-left: 14px;
  padding-right: 14px;
}
.sec3-swiper-slide{
  flex-basis: 50%;
}
.sec3-swiper-slide:first-child{
  margin-left: 0;
}
.sec3-swiper-slide:last-child{
  margin-right: 0;
}
  .sec4-content{
  padding-left: 14px;
  padding-right: 14px;
  }
  .sec4-content-wrap{
    transform: none !important;
    margin-left: -14px;
    width: auto !important;
  }
  .sec4-content-box{
    flex-basis: 33.33333%;
    padding-left: 14px;
  }
  .sec4-content-box:first-child{
    margin-left: 0;
  }
  .sec4-content-box:last-child{
    margin-right: 0;
  }
}
@media (max-width:975px){
  .main-menu{
    display: none !important;
  }
.mob-flex{display: flex !important;}
.mob{display: block !important;}
  .mob-header-logo{
    z-index: 30;
  }
  .mob-header-logo-img{
    bottom: -4px;
    height: 56px;
  }
  .mob-menu-open{
    right: 0;
    aspect-ratio: 1 /1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mob-menu-open-icon{
    width: 20px;
    height: 16px;
  }
  .mob-menu-row{
    position: absolute;
    width: 20px;
    height: 2px;
    transition-duration: 0.5s;
    background-color: #3d332e;
    border-radius: 9999px;
  }
  .mob-menu-open-icon-row1{
    top: 0;
    right: 0;
    transform-origin: top right;
  }
  .mob-menu-open-icon-row2{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .mob-menu-open-icon-row3{
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
  }
  
  .mob-menu-open.active .mob-menu-open-icon-row1{
    transform: rotate(-45deg);
  }
  .mob-menu-open.active .mob-menu-open-icon-row2{
    opacity: 0;
  }
  .mob-menu-open.active .mob-menu-open-icon-row3{
    transform: rotate(45deg);
  }
  .nav{
    position: fixed;
    left: 0;
    top: 60px;
    height: 0;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    opacity: 0;
    transition: all 0.5s cubic-bezier(.4,0,.2,1);
  }
  .mob-menu-open.active + .nav{
    height: 100%;
    opacity: 1;
  }
  .nav-inner{
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: hidden;
    height: calc(100% - 60px);
  }
  .mob-menu{
    overflow: hidden scroll;
    scrollbar-width: none;
    border-radius: inherit;
  }
  .mob-menu-inner{
    min-width: 100%;
    display: table;
  }
  .mob-menu-wrap{
    width: 87.6%;
  }
  .mob-menu-top{
    font-size: 24px;
  }
  .mob-menu-content:first-child,
  .mob-menu-content:nth-child(5){
    border-bottom: 1px solid #3d332e1a;
  }
  .mob-menu-txt{
    font-weight: 800;
    line-height: 1;
    padding-top: 35px;
    padding-bottom: 19px;
  }
  .mob-menu-txt:has(.mob-submenu-open){
    border-bottom: 1px solid #3d332e1a;
    display: flex;
    width: 100%;
    flex: 1 1 0%;
    align-items: center;
    justify-content: space-between;
    transition: all 0.15s cubic-bezier(.4,0,.2,1);
  }
  .mob-submenu-open{
    transition: transform 0.2s cubic-bezier(.4,0,.2,1);
  }
  .mob-menu-content.active .mob-submenu-open{
    transform: rotate(180deg);
  }
  .mob-submenu{
    animation: accordion-up 0.2s ease-out;
    display: none;
    overflow: hidden;
  }
  .mob-menu-content.active .mob-submenu{
     animation: accordion-down 0.2s ease-out;
     display: block;
  }
  .mob-submenu-a{
    line-height: 1;
    font-weight: 900;
    font-size: 16px;
     font-family: 'Pretendard', sans-serif;
     padding-top: 19px;
     padding-bottom: 11px;
     padding-left: 16px;
     padding-right: 16px;
  }
  
  .mob-menu-bottom{
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 0;
  }
  .mob-sns{
    align-items: center;
    gap: 20px;
  }
  .mob-franchise{
    height: 36px;
    width: fit-content;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: #f06a00;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
  }
}
@media (min-width:976px){
  .sec4-content-wrap{
    margin-left: -24px;
  }
  .sec3-swiper-slide{
    flex-basis: 25%;
  }
    .sec4-content-box{
    padding-left: 24px;
  }
}
@media (min-width:1024px){
  .sec1{
    padding-top: clamp(11px,3.32vw,52px);
    padding-bottom: clamp(15px,4.3vw,63px);
  }
  .sec1-swiper-action{
    padding-left: clamp(20px,5.46vw,80px);
    padding-right: clamp(20px,5.46vw,80px);
    padding-bottom: clamp(15px,4.3vw,63px);
    padding-top: clamp(11px,3.32vw,52px);
  }
  .sec1-swiper-action-wrap{
    gap: 6px;
    width: 27%;
  }
  .swiper-action-top-img{
    width:70%;
  }
  .swiper-action-top-txt-eng{
    font-size: clamp(17px,1.5vw,24px);
  }
    .swiper-action-top-txt-kor{
    font-size: clamp(10px,1.77vw,26px);
  }
  .swiper-action-top-pagination{
    bottom:3% !important;
  }
    .swiper-btm-txt{
    font-size: clamp(10px,1.63vw,24px);
  }
  .main-banner{
  margin-top: 6px;
  margin-bottom: 0;
  font-size: clamp(10px,1.6vw,25px);
}
  
}

/* footer */

.footer {
  color: #3d332e;
}

.footer-inner {
  width: 87.6%;
  max-width: 1464px;
  padding-top: clamp(32px,2.73vw,40px);
  padding-bottom: clamp(32px,2.73vw,40px);
}

.footer-inner-row1{
  justify-content: space-between;
}
.footer-row1-left-top{
  align-items: center;
  height: 40px;
}
.footer-row1-left-top-img{
  max-width: 33vw;
  width: 124px;
}
.footer-row1-left-bottom{
  flex-wrap: wrap;
  font-size: 12px;
  gap: 6px;
}
.footer-detail{
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
  .footer-row1-right{
    width: 46.5%;
  }
.footer-title{
  color: #3d332e80;
  line-height: 1;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 9px;
}
.footer-detail-text{
  line-height: 1.83;
}
.footer-inner-row2{
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 16px;
}
.footer-inner-row2-left{
  line-height: 1.28;
  font-size: 14px;
}
.footer-inner-row2-left .no-active{
  padding-left: 12px;
  margin-left: 12px;
  border-left:1px solid #3d332e33;
}
.footer-inner-row2-left .login.active{
  color: #f06a00;
  font-weight: 700;
}
.footer-inner-row2-right{
  opacity: 0.5;
  gap: 16px;
}
.footer-inner-row3{
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 12px;
  padding-top: 12px;
  justify-content: space-between;
  border-color: #3d332e33;
}
.footer-inner-row3-left{
  position: absolute;
  right: 0;
  top: 32px;
  width: 185px;
  max-width: 50vw;
  flex: none;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
    line-height: 2.85;
}
.familysite{
  
  position: absolute;
  bottom: 0;
  left:0;
  height:0;
  width:100%;
  overflow: hidden;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0,0,0,.05);
    outline: 1px solid #3d332e33;
  padding-bottom: 40px;
  animation-timing-function: cubic-bezier(.4,0,.2,1);
  animation-duration: 0.3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: 0.3s;
}
.familysite.active{
  height: 280px;
  display: block;
  z-index: 20;
}
.familysite-btn{
  z-index: 25;
  color: #3d332e;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.familysite-arrow{
  transition-duration: 0.3s;
  animation-duration: 0.3s;
  transform: rotateX(180deg);
}
.familysite-a{
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}
.familysite-a:hover{
  color: #f06a00;
}
.rule{
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 16px;
  font-size: 14px;
}
.footer-inner-row3-hidden{
  margin-top: 12px;
}
.floating{
  position: fixed;
  width: clamp(55px,4.98vw,73px);
  z-index: 10;
  right: clamp(16px,2.73vw,40px);
  bottom: clamp(16px,2.73vw,40px);
}
.floating-top{
  box-shadow: 0 0 12px 0 rgba(29,7,0,.2);
  color: #fff;
  background-color: #f06a00;
  border-radius: clamp(9px,.81vw,12px);
}
.floating-top-btn{
  padding-top: clamp(10px,.95vw,14px);
  padding-bottom: clamp(10px,.95vw,14px);
}
.floating-top-img{
  width: 49.4%;
}
.floating-txt{
  line-height: 1;
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: clamp(10px,.88vw,13px);
}

.floating-top-btn::after{
  content: "";
  position: absolute;
  border-radius: 9999px;
  background-color: #fff;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 27.3%;
}
.floating-top-btn:nth-child(3)::after{
  display: none;
}

.floating-bottom-btn{
  box-shadow: 0 0 12px 0 rgba(29,7,0,.2);
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border-radius: clamp(9px,.81vw,12px);
  background-color: #fff;
  margin-top: 12px;
  margin-bottom: 0;
}
.go-to-top-img{
  width: 28.7%;
  height: 100%;
}
@media(max-width:767px){
  .footer-inner-row2-right{
    display: none !important;
  }
  .mob-footer-flex{display: flex !important;}
  .mob-footer-sns{
    margin-top: 10px;
    margin-bottom: 0px;
    opacity: 0.5;
    gap: 16px;
  }
  .footer-row1-left-bottom{
    margin-top: 10px;
    line-height: 1.5;
  }
  .rule{
    line-height: 1.4;
  }
  .familysite{
    box-shadow: none;
  }
  .footer-inner-row3-hidden{
    display: block !important;
  }
}
@media (min-width:768px) {
  .footer-inner-row3-hidden{
    display:none !important;
  }
  .footer-inner{
    width: 95%;
  }
  .footer-inner-row2{
    margin-top: 0;
  }
  .footer-inner-row3{
    margin-top: 20px;
    padding-top: 20px;
    align-items: center;
    border-top-width: 1px;
  }
  .footer-row1-left-top-img{
    width: auto;
  }
  .footer-row1-left-bottom{
    margin-top: 25px;
    margin-bottom: 0px;
  }
  .footer-inner-row2-right{
    display: flex !important;
    justify-content: flex-end;
  }
  .footer-detail2{
    padding-right: 16px;
  }
  .rule{
    column-gap: 12px;
  }
}
@media (min-width:976px){
  .footer-inner-row3{
    flex-wrap: nowrap;
  }
  .footer-row1-left{
    max-width: 366px;
  }
  .footer-row1-right{
    display: block !important;
  }
  .footer-row1-left-top{
    height: auto;
  }
  .footer-inner-row3-left{
    position: static;
  }
  .footer-inner-row3-right{
    order: 9999;
  }
  .rule{
    justify-content: flex-end;
  }
}